# Docker build context is the elixir monorepo root (see deploy_to_linode/deploy.sh).

argus/
full_circle/
orgmind/
peggy/
pou_con/
usbboot/

least_cost_feed/_build/
least_cost_feed/deps/
least_cost_feed/cover/
least_cost_feed/doc/
least_cost_feed/test/
least_cost_feed/tmp/
least_cost_feed/.elixir_ls/
least_cost_feed/.git/
least_cost_feed/assets/node_modules/
least_cost_feed/priv/static/assets/
least_cost_feed/priv/static/cache_manifest.json
least_cost_feed/deploy_to_linode/
least_cost_feed/autoresearch/
least_cost_feed/*.tar
least_cost_feed/secret.txt
least_cost_feed/deploy.conf

.global_assets/heroicons/.git/

.git/